@{
    ViewBag.Title = "Toplanti Ozeti";
}
<h1 class="h4">Toplanti Ozeti</h1>
<p>Toplanti Ozeti</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>
