@model UserInfo
@{
    ViewBag.Title = "Basvuru Durumu";
}
<h1 class="h4">Basvuru Ozeti</h1>
@if(Model.WillAttend == true){
    <p>Sizinle beraber @ViewBag.UserCount kadar kişi katiliyor</p>
    <a class="btn btn-sm btn-outline-primary" href="#" >Katilimcilari Listele</a>
}
else{
    <p>@Model.Name , katilmiyor.</p>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Form</a>

}
<p>Toplanti Ozeti</p>
